
body {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 18px;
    background: url(https://s3.amazonaws.com/theoatmeal-img/default/header2016/rainbow_bg.png) repeat-x;
}

.logo {
    width: 120px;
}

.rainbowBrite {
    background: url(https://s3.amazonaws.com/theoatmeal-img/default/header2016/rainbow_bg.png) repeat-x;
}

.navbar {
    padding: 1rem;
    background-color: white;
    color: black;

}

.squiggle_arrow_alone {
	background: url(https://s3.amazonaws.com/theoatmeal-img/default/squiggle_arrow_up.png) no-repeat center left;
	padding-left: 20px;
}

.navbar .navbar-brand {
    color: black;
    font-size: 3em !important;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.navbar .navbar-item {
    color: black;
    font-family: "Helvetica Neue";
    size: 175%;
}

/* #latest {
    margin-left: 50px;
    width: 600px;
    float: left;
    padding-top: 0;
}  */ */

/* li {
    display: list-item;
    text-align: -webkit-match-parent;
} */

#feed_items li {
    width: 260px;
    float: left;
    margin-right: 30px;
    margin-left: 30px;
}

ul {
    list-style-type: none;
}

latest {
    float: center;
}

.last-col {
    margin-left: 50px;
    padding-left: 15em;
}